- tweet_id = tweet.id
- id = "tweet_#{tweet_id}"
%tr{:style => tweet_style(tweet, tweets) }
  %td
    = h(tweet.display_message).sub(/(http\S+)/, '<br/><small><a style="text-decoration: none;" href="\1">\1</a></small>')
    %br
      %small{:style => 'color: grey;'}
        = tweet.entry_item.published_date.to_date.to_s(:dd_mm_yyyy)
        |
        = tweet.entry_item.class.name.sub('Item','')
        |
        = h tweet.entry_item.publisher
        |
        - if tweet.entry_item.sub_domain
          = h tweet.entry_item.host_domain
          |
          = h tweet.entry_item.sub_domain
        - else
          = h tweet.entry_item.host_domain
  %td
    - if tweet.is_whitelisted?
      %small [whitelisted]
    - else
      - action = tweet.is_approved? ? 'Block source' : 'Approve source'
      = button_to_remote action, :update => id, :url => { :controller => :tweets, :id => tweet_id, :action => :toggle_approval }
    - action = tweet.is_suppressed? ? 'Unsuppress tweet' : 'Suppress tweet'
    = button_to_remote action, :update => id, :url => { :controller => :tweets, :id => tweet_id, :action => :toggle_suppress }
  %td
    = tweet.entry_item.title
    %small= link_to 'item', entry_item_path(tweet.entry_item)
    %br
    = tweet.entry_item.content

