%h1
  = @tweeter.full_name
  = link_to "@#{@tweeter.name}", "http://twitter.com/#{@tweeter.name}"
%p
  =h @tweeter.bio
%div
  = button_to 'Make tweets', :controller => 'tweeters', :action => 'make_tweets'

%ul
  - false && @tweeter.entry_sources.each do |source|
    %li
      = source.item_title_name.blank? ? '' : source.item_title_name
      = ' - '
      = source.item_host_uri
%table
  %tr
    %th Published Date
    %th Domain
    %th Sub domain
    %th Type
    %th Publisher
    %th Tweet
    %th Content
  = render :partial => 'tweet_div', :collection => @tweeter.tweets.sort_by(&:published_time)

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url