%h1 Listing tweets

%table
  %tr
    %th Tweeter
    %th publisher
    %th Message
    %th Content
    %th Tweeted
    %th Tweeted at
    %th Dm to
    %th Reply to
  - @tweets.each do |tweet|
    %tr
      %td= h tweet.tweeter.name
      %td= tweet.entry_item ? h(tweet.entry_item.publisher) : ''
      %td= h tweet.message
      %td= tweet.entry_item ? h(tweet.entry_item.content) : ''
      %td= h tweet.tweeted
      %td= h tweet.tweeted_at
      %td= h tweet.dm_to
      %td= h tweet.reply_to

      %td= link_to 'Show', object_url(tweet)
      %td= link_to 'Edit', edit_object_url(tweet)
      %td= link_to 'Destroy', object_url(tweet), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New tweet', new_object_url