%p
  %label{:for => "news_query_query"} Query:
  = f.text_field :query
%p
  %label{:for => "news_query_site_restriction"} Site restriction:
  = f.text_field :site_restriction
%p
  %label{:for => "news_query_bill_id"} Tweeter:
  = f.text_field :bill_id
%p
  %label{:for => "news_query_feed_uri"} Tweeter:
  = f.text_field :feed_uri
%p
  %label{:for => "news_query_feed_uri"} Tweeter:
  = f.text_field :feed_uri
