%h1 Listing news_queries

%table
  %tr
    %th ID
    %th Tweeter
    %th Name
    %th Recent
    %th News
    %th Blogs
    %th Total
    %th Query
    %th Site restriction
  - @news_queries.sort_by(&:entry_item_count).reverse.each do |news_query|
    %tr
      %td= news_query.id
      %td= news_query.tweeter ? news_query.tweeter.name : 'nil'
      %td= h news_query.name
      %td= h news_query.news_items.collect(&:published_time).compact.empty? ? '' : news_query.news_items.collect(&:published_time).compact.sort.reverse.first.to_date.to_s(:long)
      %td= h news_query.news_item_count
      %td= h news_query.blog_item_count
      %td= h news_query.entry_item_count
      %td= h news_query.query
      %td= h news_query.site_restriction

      %td= link_to 'Show', object_url(news_query)
      %td= link_to 'Edit', edit_object_url(news_query)
      %td= link_to 'Destroy', object_url(news_query), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New news_query', new_object_url