%h1 Listing news_queries

%table
  %tr
    %th Name
    %th Query
    %th Site restriction
    %th Tweeter
  - @news_queries.each do |news_query|
    %tr
      %td= h news_query.name
      %td= h news_query.query
      %td= h news_query.site_restriction
      %td= h news_query.tweeter_id
        
      %td= link_to 'Show', object_url(news_query)
      %td= link_to 'Edit', edit_object_url(news_query)
      %td= link_to 'Destroy', object_url(news_query), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New news_query', new_object_url