%p
  %strong News:
  =h @news_query.news_item_count
%p
  %strong Blogs:
  =h @news_query.blog_item_count
%p
  %strong Query:
  =h @news_query.query
%p
  %strong Site restriction:
  =h @news_query.site_restriction
%p
  %strong Tweeter:
  =h @news_query.tweeter ? @news_query.tweeter.name : 'n/a'

%div
  = button_to 'Do query search', :controller => 'news_queries', :action => 'do_search'

- unless @news_query.entry_items.empty?
  - @news_query.entry_items.sort_by(&:published_time).each do |item|
    %p
      %strong=h item.title
    %p
      %small
        = item.published_time.to_s(:short)
        =h item.publisher
        (
        =h item.url
        )
    %p
      = item.content

= link_to 'Edit', edit_object_url
|
= link_to 'Back', collection_url