%h1 Editing outgoing_tweet

= error_messages_for :outgoing_tweet

- form_for(:outgoing_tweet, :url => object_url, :html => { :method => :put }) do |f|
  = render :partial => "form", :locals => { :f => f }
  %p= submit_tag "Update"
  
= link_to 'Show', object_url
|
= link_to 'Back', collection_url