%p
  %label{:for => "bill_name"} Name:
  = f.text_field :name
%p
  %label{:for => "bill_description"} Description:
  = f.text_area :description
%p
  %label{:for => "bill_url"} Url:
  = f.text_field :url
%p
  %label{:for => "bill_rss"} Rss:
  = f.text_field :rss
%p
  %label{:for => "bill_tweeter_id"} Tweeter:
  = f.text_field :tweeter_id
%p
  %label{:for => "bill_house"} House:
  = f.text_field :house
%p
  %label{:for => "bill_bill_type"} Bill type:
  = f.text_field :bill_type
%p
  %label{:for => "bill_categories"} Categories:
  = f.text_area :categories
