%h1 Listing bills

%div
  = button_to 'Load bills', :controller => 'bills', :action => 'load_bills'

%table
  %tr
    %th Name
    %th Stories
    %th Description
    %th Urls
    %th Bill type
  - @bills.sort_by(&:name).each do |bill|
    %tr
      %td
        = h bill.name
        %br
        = bill.tweeter_id? ? link_to(bill.tweeter.name, bill.tweeter) : 'NONE!!!'
      %td
        = bill.stories_count
      %td= h bill.description
      %td
        = bill.url.sub('http://services.parliament.uk/bills/','')[0..50]
        %br
        = bill.feed_uri.sub('http://services.parliament.uk/bills/','')[0..50]
      %td
        = h bill.house
        %br
        = bill.bill_type.split('(').join('<br/>(')
        - if bill.categories && !eval(bill.categories).empty?
          %br
          = h bill.categories

      %td= link_to 'Show', object_url(bill)
      %td= link_to 'Edit', edit_object_url(bill)
      %td= link_to 'Destroy', object_url(bill), :confirm => 'Are you sure?', :method => :delete

%br/

=link_to 'New bill', new_object_url