%tr
  %td= h entry_source.author_name
  %td= h entry_source.item_title_name
  %td= h entry_source.author_uri
  %td= h entry_source.item_host_uri

  %td= link_to 'Show', object_url(entry_source)
  %td= link_to 'Edit', edit_object_url(entry_source)
  %td= link_to 'Destroy', object_url(entry_source), :confirm => 'Are you sure?', :method => :delete